@main("Community Coins | Analytics") {

    <div class="element-wrapper">
        <h6 class="element-header">
            Dashboard
        </h6>
        <div class="element-content">
            <div class="tablo-with-chart">
                <div class="row">
                    <div class="col-sm-5 col-xxl-4">
                        <div class="element-box">
                            <h5 class="form-header">
                                Daily
                            </h5>
                            <div class="form-desc">
                               Mouvments
                            </div>
                            <div class="el-chart-w">
                                <canvas height="145" id="barChart1" width="300"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xxl-8">
                            <!--START - Chart Box-->
                        <div class="element-box pl-xxl-5 pr-xxl-5">
                            <div class="el-tablo bigger highlight bold-label">
                                <div class="value">
                                    537
                                </div>
                                <div class="label">
                                    Total
                                </div>
                            </div>
                            <div class="el-chart-w">
                                <canvas height="170px" id="lineChart" width="600px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}