@(title: String)

<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="" name="keywords">
    <meta content="Community Coins" name="author">
    <meta content="Community Coins" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-2.2.0.min.js")" type="text/javascript"></script>

    <link href="@routes.Assets.at("icon_fonts_assets/simple-line-icons/css/simple-line-icons.css")" rel="stylesheet">

    <link href="@routes.Assets.at("favicon.png")" rel="shortcut icon">
    <link href="@routes.Assets.at("apple-touch-icon.png")" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("bower_components/select2/dist/css/select2.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bower_components/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bower_components/dropzone/dist/dropzone.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bower_components/fullcalendar/dist/fullcalendar.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css?version=3.7.0")" rel="stylesheet">
</head>