<div class="desktop-menu menu-side-v2-w menu-activated-on-hover flying-menu">
    <ul class="main-menu">
        <li class="menu-sub-header">
            <span>MENU</span>
        </li>
        <li class="has-sub-menu">
            <a href="@controllers.routes.VolunteerController.reads()" title="Menu">
                <div class="icon-w">
                    <i class="icon-screen-desktop"></i>
                </div>
                <span>Volonteers</span>
            </a>
        </li>
        <li class="has-sub-menu">
            <a href="@controllers.routes.NgoController.reads()" title="Menu">
                <div class="icon-w">
                    <i class="icon-chemistry"></i>
                </div>
                <span>N.G.O</span>
            </a>
        </li>
        <li class="has-sub-menu">
            <a href="@controllers.routes.MainController.analytics()" title="Menu">
                <div class="icon-w">
                    <i class="icon-organization"></i>
                </div>
                <span>Analytics</span>
            </a>
        </li>
        <li class="has-sub-menu">
            <a href="@controllers.routes.MouvmentController.reads()" title="Menu">
                <div class="icon-w">
                    <i class="icon-energy"></i>
                </div>
                <span>Movments</span>
            </a>
        </li>

        <li class="menu-sub-header">
            <span>PARAMETRES</span>
        </li>
        <li class="has-sub-menu">
            <a href="#" title="Menu">
                <div class="icon-w">
                    <i class="icon-user"></i>
                </div>
                <span>Profil</span>
            </a>
        </li>
        <li class="has-sub-menu">
            <a href="#" title="Logout">
                <div class="icon-w">
                    <i class="icon-logout"></i>
                </div>
                <span>Deconnexion</span>
            </a>
        </li>
    </ul>
</div>